* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    background: linear-gradient(45deg, rgb(255, 255, 255), rgb(196, 248, 255));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* ESTILOS DEL CONTADOR */
.puntos {
    text-align: center;
    margin-bottom: 40px;
    color: #464646;
}

/* ESTILOS DEL TECLADO */
.teclado {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.fila {
    display: flex;
    justify-content: center;
    gap: 8px;
}
.fila > div {
    height: 50px;
    width: 50px;
    outline: solid 2px #000;
    border-bottom: 7px solid rgb(75, 75, 75);
    border-left: 5px solid rgb(109, 109, 109);
    border-right: 5px solid rgb(109, 109, 109);
    border-top: 3px solid rgb(150, 150, 150);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #fff;
    font-weight: bold;
}
/* Teclas medias */
div.medium {
    width: 75px;
}
/* Teclas grandes */
div.large {
    width: 90px;
}
/* Teclas extra grandes */
div.extraLarge {
    width: 118px;
}


/* Estilos de la tecla que debe ser pulsada */
.teclado .fila > div.tecla-pulsar {
    background-color: rgb(221, 46, 46);
    border-bottom-color: rgb(150, 25, 25);
    border-left-color: rgb(199, 36, 36);
    border-right-color:rgb(199, 36, 36);
    border-top-color: rgb(248, 64, 64);
}