* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(45deg, rgb(168, 168, 168), rgb(255, 255, 255));
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RELOJ */
.reloj {
    width: 300px;
    height: 300px;
    border: solid 10px #000;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    
}
.reloj > div {
    width: 200px;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: -1;
}
.eje {
    position: absolute;
    background-color: brown;
    height: 7px !important;
    width: 7px !important;
    border-radius: 100%;
}

/* AGUJAS */
#segundos > div {
    width: 1px;
    height: 100px;
    background-color: brown;
    position: relative;
    top: 25%;
}
#minutos > div {
    width: 4px;
    height: 90px;
    background-color: #000;
    position: relative;
    top: 22%;
}
#horas > div {
    width: 4px;
    height: 70px;
    background-color: #000;
    position: relative;
    top: 18%;
}

/* NÚMEROS */
.numero {
    width: 1.5px;
    height: 20px;
    position: absolute;
    transform: translateY(120px);
    display: flex;
    justify-content: center;
    align-items: center;
}