* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins';
    background-color: #eee;
    color: #636363;
    font-size: 1.3em;
    text-align: center;
    padding: 30px 10%;
}

/* ESTILOS DEL ICONO */
.div-iconos {
    display: flex;
}
i  {
    color: #9b9b9b;
    padding: 5px;
    font-size: 1.5em;
    cursor: pointer;
}
#sun {
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    position: relative;
    left: -35px;
}
#moon {
    transition: 0.3s ease;
}
#moon.ocultar-luna {
    visibility: hidden;
    opacity: 0;
}
#sun.mostrar-sol {
    visibility: visible;
    opacity: 1;
}

/* ESTILOS DEL TEXTO */
.div-texto {
    margin-top: 60px;
    line-height: 50px;
}
h1 {
    margin-bottom: 20px;
}